a {
	color: #627D8F;
}

.container, p{
	transition: all .5s;
}

/*主页面*/
.container {
	padding: 0;
	margin-left: 250px;
	overflow: hidden;
	width: auto;
}
.container>div {
	padding-left: 10px;
	padding-right: 10px;
}

.max {
	margin-left: 50px;
}

.alert {
	margin-bottom: 0px;
}